<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="AudioDevicesPanel">
		<fg>#804040</fg>
		<bg>#C8C8C8</bg>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizerMain" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_LINE_UP" variable="StaticTextLineUp" member="yes">
					<label></label>
					<size>-1,2</size>
					<bg>#B4B4B4</bg>
					<style>wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_SYS_GEN_SET" subclass="RimPanel" variable="PanelSysGenSettings" member="yes">
					<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
					<object class="wxBoxSizer" variable="BoxSizerGenSettings" member="no">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerRescan" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON_SCAN_AUDIO_SYS" subclass="GButton" variable="ButtonScanAudioSys" member="yes">
										<label>Scan system</label>
										<size>100,22</size>
										<handler function="OnButtonScanAudioSysClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_IO_BUFFERING" variable="PanelIOBuffering" member="yes">
					<object class="wxBoxSizer" variable="BoxSizerIOBuffering" member="no">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerFrameSize" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_FRAMESIZE" variable="StaticTextFrameSize" member="yes">
										<label>processing frame size</label>
										<size>150,-1</size>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_FRAME_SIZE" variable="ChoiceFrameSize" member="yes">
										<content>
											<item>64</item>
											<item>128</item>
											<item>256</item>
											<item>512</item>
											<item>1024</item>
											<item>2048</item>
											<item>4096</item>
											<item>8192</item>
											<item>16384</item>
										</content>
										<size>150,-1</size>
										<handler function="OnChoiceFrameSizeSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
							<option>1</option>
							<size>15,-1</size>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerInBufferSize" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_INBUFFER_LENGTH" variable="StaticTextInBufferLength" member="yes">
										<label>input buffering (ms)</label>
										<size>150,-1</size>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_INBUFFER_LEN" variable="ChoiceInBufferLength" member="yes">
										<content>
											<item>125</item>
											<item>250</item>
											<item>500</item>
											<item>750</item>
											<item>1000</item>
											<item>1250</item>
											<item>1500</item>
											<item>1750</item>
											<item>2000</item>
										</content>
										<size>150,-1</size>
										<handler function="OnChoiceInBufferLengthSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerInBufferThresh" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_INBUFFER_FILL_THRESh" variable="StaticTextInBufFillThresh" member="yes">
										<label>input fill threshold (%)</label>
										<size>150,-1</size>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_INBUFFER_FILL_THRESH" variable="ChoiceInBUfferFillThresh" member="yes">
										<content>
											<item>10</item>
											<item>20</item>
											<item>25</item>
											<item>30</item>
											<item>40</item>
											<item>50</item>
											<item>60</item>
											<item>75</item>
											<item>80</item>
											<item>90</item>
										</content>
										<size>150,-1</size>
										<handler function="OnChoiceInBUfferFillThreshSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
							<option>1</option>
							<size>15,-1</size>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerOutBufferSize" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_OUTBUFFER_LENGTH" variable="StaticTextOutBufferLength" member="yes">
										<label>output buffering (ms)</label>
										<size>150,-1</size>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_OUTBUFFER_LEN" variable="ChoiceOutBufferLength" member="yes">
										<content>
											<item>125</item>
											<item>250</item>
											<item>500</item>
											<item>750</item>
											<item>1000</item>
											<item>1250</item>
											<item>1500</item>
											<item>1750</item>
											<item>2000</item>
										</content>
										<size>150,-1</size>
										<handler function="OnChoiceOutBufferLengthSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerOutBufferThresh" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_OUTBUFFER_FILL_THRESh" variable="StaticTextOutBufFillThresh" member="yes">
										<label>output fill threshold (%)</label>
										<size>150,-1</size>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_OUTBUFFER_FILL_THRESH" variable="ChoiceOutBUfferFillThresh" member="yes">
										<content>
											<item>10</item>
											<item>20</item>
											<item>25</item>
											<item>30</item>
											<item>40</item>
											<item>50</item>
											<item>60</item>
											<item>75</item>
											<item>80</item>
											<item>90</item>
										</content>
										<size>150,-1</size>
										<handler function="OnChoiceOutBUfferFillThreshSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_HOSTS" subclass="RimPanel" variable="PanelHosts" member="yes">
					<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
					<object class="wxBoxSizer" variable="BoxSizerHosts" member="no">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerHostAPIIn" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_IN_HOSTS" variable="StaticTextInHosts" member="yes">
										<label>host API</label>
										<size>300,-1</size>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_HOST" variable="ChoiceHost" member="yes">
										<size>300,-1</size>
										<handler function="OnChoiceHostSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerSRateInner" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_SYS_SRATE" variable="StaticTextSysSampleRate" member="yes">
										<label>sample rate</label>
										<size>200,-1</size>
									</object>
									<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_SYS_SRATE" variable="ChoiceSystemSampleRate" member="yes">
										<size>200,-1</size>
										<handler function="OnChoiceSystemSampleRateSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_INPUT_DEVS" subclass="RimPanel" variable="PanelInputDevices" member="yes">
					<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
					<object class="wxBoxSizer" variable="BoxSizerInputDevices" member="no">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerInputDevice" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_IN_DEVS" variable="StaticTextInDevices" member="yes">
										<label>input devices</label>
										<size>300,-1</size>
									</object>
									<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_INPUT_DEVICE" variable="ChoiceInputDevice" member="yes">
										<size>300,-1</size>
										<handler function="OnChoiceInputDeviceSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerInputChannels" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_IN_CHANS" variable="StaticTextInChannels" member="yes">
										<label>audio channels</label>
									</object>
									<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_IN_CHANS" variable="TextCtrlInChannels" member="yes">
										<value>0</value>
										<size>80,-1</size>
										<bg>#DCDCDC</bg>
										<style>wxTE_READONLY|wxTE_CENTRE</style>
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_OUTPUT_DEVS" subclass="RimPanel" variable="PanelOutputDevices" member="yes">
					<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
					<object class="wxBoxSizer" variable="BoxSizerOutputDevices" member="no">
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerOutputDevice" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_OUT_DEVS" variable="StaticTextOutDevices" member="yes">
										<label>output devices</label>
										<size>300,-1</size>
									</object>
									<flag>wxLEFT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_OUTPUT_DEVICE" variable="ChoiceOutputDevice" member="yes">
										<size>300,-1</size>
										<handler function="OnChoiceOutputDeviceSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerOutputChannels" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_OUT_CHANS" variable="StaticTextOutChannels" member="yes">
										<label>audio channels</label>
									</object>
									<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>4</border>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_OUT_CHANS" variable="TextCtrlOutChannels" member="yes">
										<value>0</value>
										<size>80,-1</size>
										<bg>#DCDCDC</bg>
										<style>wxTE_READONLY|wxTE_CENTRE</style>
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>1</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_TEST" subclass="RimPanel" variable="PanelTest" member="yes">
					<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
					<object class="wxBoxSizer" variable="BoxSizerTest" member="yes">
						<orient>wxVERTICAL</orient>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT_DEV_TST_TTL" variable="StaticTextDevTestTitle" member="yes">
								<label>Audio devices calibration</label>
							</object>
							<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerTestStart" member="no">
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL_DEV_TEST" subclass="RimPanel" variable="PanelDevTest" member="yes">
										<style>wxTAB_TRAVERSAL|wxNO_FULL_REPAINT_ON_RESIZE</style>
										<object class="wxBoxSizer" variable="BoxSizerDevTest" member="no">
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTON_TST_DEV_START" subclass="GButton" variable="ButtonDevTestStart" member="yes">
													<label>Start</label>
													<size>100,22</size>
													<handler function="OnButtonDevTestStartClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTON_TST_DEV_STOP" subclass="GButton" variable="ButtonDevTestStop" member="yes">
													<label>Stop</label>
													<size>100,22</size>
													<handler function="OnButtonDevTestStopClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_CAL_INSTR" variable="StaticTextCalibInstructions" member="yes">
													<label>Adjust volume until the peak value shows -3dB</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizerMonitor" member="yes">
								<object class="spacer">
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<size>1,200</size>
								</object>
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL_PLAYBACK" variable="PanelPlayback" member="yes">
										<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL|wxNO_FULL_REPAINT_ON_RESIZE</style>
										<object class="wxBoxSizer" variable="BoxSizerPlayback" member="yes">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_PB_STREAM_TTL" variable="StaticTextPBStreamTTL" member="yes">
													<label>output stream</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizerPBTTL" member="no">
													<object class="sizeritem">
														<object class="wxPanel" name="ID_PANEL_PB_IN_L" subclass="RimPanel" variable="PanelPBInL" member="yes">
															<style>wxTAB_TRAVERSAL|wxNO_FULL_REPAINT_ON_RESIZE</style>
															<object class="wxBoxSizer" variable="BoxSizerPBInL" member="yes" />
														</object>
														<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
														<border>3</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxPanel" name="ID_PANEL_PB_IN_R" subclass="RimPanel" variable="PanelPBInR" member="yes">
															<object class="wxBoxSizer" variable="BoxSizerPBInR" member="no">
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizerBtnsLay" member="no">
																		<object class="spacer">
																			<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																			<border>5</border>
																			<option>1</option>
																			<size>1,-1</size>
																		</object>
																		<object class="sizeritem">
																			<object class="wxBoxSizer" variable="BoxSizerGainBtns" member="no">
																				<orient>wxVERTICAL</orient>
																				<object class="sizeritem">
																					<object class="wxStaticText" name="ID_STATICTEXT_GAIN_TTL" variable="StaticTextGainTtl" member="yes">
																						<label>gain</label>
																						<size>40,18</size>
																						<style>wxALIGN_CENTRE</style>
																					</object>
																					<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																					<border>5</border>
																				</object>
																				<object class="sizeritem">
																					<object class="wxStaticText" name="ID_STATICTEXT_GAIN" variable="StaticTextOutGain" member="yes">
																						<label>0 dB</label>
																						<size>40,18</size>
																						<style>wxALIGN_CENTRE</style>
																					</object>
																					<flag>wxBOTTOM|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																				</object>
																				<object class="sizeritem">
																					<object class="wxButton" name="ID_BUTTON_OUT_GAIN_UP" subclass="GButton" variable="ButtonOutGainUp" member="yes">
																						<label>+</label>
																						<size>40,30</size>
																						<handler function="OnButtonOutGainUpClick" entry="EVT_BUTTON" />
																					</object>
																					<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP</flag>
																					<border>5</border>
																				</object>
																				<object class="sizeritem">
																					<object class="wxButton" name="ID_BUTTON_OUT_GAIN_DWN" subclass="GButton" variable="ButtonOutGainDwn" member="yes">
																						<label>-</label>
																						<size>40,30</size>
																						<handler function="OnButtonOutGainDwnClick" entry="EVT_BUTTON" />
																					</object>
																					<flag>wxBOTTOM|wxALIGN_LEFT|wxALIGN_TOP</flag>
																					<border>5</border>
																				</object>
																			</object>
																			<flag>wxTOP|wxALIGN_LEFT|wxALIGN_TOP</flag>
																			<border>5</border>
																		</object>
																		<object class="spacer">
																			<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																			<option>1</option>
																			<size>1,-1</size>
																		</object>
																	</object>
																	<flag>wxBOTTOM|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																	<border>5</border>
																</object>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
														<border>3</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<option>1</option>
											</object>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL_RECORDING" variable="PanelRecording" member="yes">
										<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL|wxNO_FULL_REPAINT_ON_RESIZE</style>
										<object class="wxBoxSizer" variable="BoxSizerRecording" member="yes">
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_REC_STREAM_TTL" variable="StaticTextRecStreamTTL" member="yes">
													<label>input stream</label>
												</object>
												<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizerRecTTL" member="no">
													<object class="sizeritem">
														<object class="wxPanel" name="ID_PANEL_REC_IN_L" subclass="RimPanel" variable="PanelRecInL" member="yes">
															<style>wxTAB_TRAVERSAL|wxNO_FULL_REPAINT_ON_RESIZE|wxFULL_REPAINT_ON_RESIZE</style>
															<object class="wxBoxSizer" variable="BoxSizerRecInL" member="yes" />
														</object>
														<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
														<border>3</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxPanel" name="ID_PANEL_REC_IN_R" variable="Panel1RecInR" member="yes">
															<object class="wxBoxSizer" variable="BoxSizerRecInR" member="no">
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizerFFTPlot" member="no">
																		<object class="sizeritem">
																			<object class="wxPanel" name="ID_PANEL_FFT_CTRLS" subclass="RimPanel" variable="PanelFFTCtrls" member="yes">
																				<object class="wxBoxSizer" variable="BoxSizerFFTCtrls" member="no">
																					<orient>wxVERTICAL</orient>
																					<object class="sizeritem">
																						<object class="wxBoxSizer" variable="BoxSizerRefCh" member="no">
																							<orient>wxVERTICAL</orient>
																							<object class="sizeritem">
																								<object class="wxStaticText" name="ID_STATICTEXT_REF_CH" variable="StaticTextRefCh" member="yes">
																									<label> channel </label>
																									<bg>#D7D7D7</bg>
																									<style>wxALIGN_CENTRE</style>
																								</object>
																								<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<border>1</border>
																							</object>
																							<object class="sizeritem">
																								<object class="Custom" name="ID_SPIN_REF_CH" subclass="awohSpin" variable="SpinRefCh" member="yes">
																									<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
																									<include_file>Widgets/awohSpin.h</include_file>
																									<local_include>1</local_include>
																									<style></style>
																									<size>40,-1</size>
																									<bg>#6A6A6A</bg>
																								</object>
																								<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<border>4</border>
																							</object>
																						</object>
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<border>1</border>
																					</object>
																					<object class="spacer">
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<size>-1,10</size>
																					</object>
																					<object class="sizeritem">
																						<object class="wxBoxSizer" variable="BoxSizerFFTSize" member="no">
																							<orient>wxVERTICAL</orient>
																							<object class="sizeritem">
																								<object class="wxStaticText" name="ID_STATICTEXT_RTA_LENGTH" variable="StaticTextRTALength" member="yes">
																									<label> resolution </label>
																									<bg>#D7D7D7</bg>
																									<style>wxALIGN_CENTRE</style>
																								</object>
																								<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<border>1</border>
																							</object>
																							<object class="sizeritem">
																								<object class="Custom" name="ID_SPIN_FFT_LENGTH" subclass="awohSpin" variable="SpinFFTLen" member="yes">
																									<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
																									<include_file>Widgets/awohSpin.h</include_file>
																									<local_include>1</local_include>
																									<style></style>
																									<size>40,-1</size>
																									<bg>#6A6A6A</bg>
																								</object>
																								<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<border>4</border>
																							</object>
																						</object>
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<border>1</border>
																					</object>
																					<object class="spacer">
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<size>-1,10</size>
																					</object>
																					<object class="sizeritem">
																						<object class="wxBoxSizer" variable="BoxSizerAvgOn" member="no">
																							<orient>wxVERTICAL</orient>
																							<object class="sizeritem">
																								<object class="wxStaticText" name="ID_STATICTEXT_RTA_AVG" variable="StaticTextRTAAvg" member="yes">
																									<label> average </label>
																									<bg>#D7D7D7</bg>
																									<style>wxALIGN_CENTRE</style>
																								</object>
																								<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<border>1</border>
																							</object>
																							<object class="sizeritem">
																								<object class="Custom" name="ID_SPIN_RTA_AVG" subclass="awohSpin" variable="SpinRTAvg" member="yes">
																									<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
																									<include_file>Widgets/awohSpin.h</include_file>
																									<local_include>1</local_include>
																									<style></style>
																									<size>40,-1</size>
																								</object>
																								<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<border>4</border>
																							</object>
																						</object>
																						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<border>1</border>
																					</object>
																					<object class="spacer">
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<size>-1,10</size>
																					</object>
																					<object class="sizeritem">
																						<object class="wxBoxSizer" variable="BoxSizerBtnCntr" member="no">
																							<object class="spacer">
																								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<option>1</option>
																							</object>
																							<object class="sizeritem">
																								<object class="wxBoxSizer" variable="BoxSizerAxesCtrls" member="no">
																									<orient>wxVERTICAL</orient>
																									<object class="sizeritem">
																										<object class="wxButton" name="ID_BUTTON_RESET_LTA" subclass="GButton" variable="ButtonResetLTA" member="yes">
																											<label>reset avg</label>
																											<size>82,18</size>
																											<style>wxNO_BORDER</style>
																											<handler function="OnButtonResetLTAClick" entry="EVT_BUTTON" />
																										</object>
																										<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
																										<border>2</border>
																									</object>
																									<object class="spacer">
																										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																										<option>1</option>
																										<size>-1,10</size>
																									</object>
																									<object class="sizeritem">
																										<object class="wxButton" name="ID_BUTTON_PLOT_RESET" subclass="GButton" variable="ButtonPlotReset" member="yes">
																											<label>reset plot</label>
																											<size>82,18</size>
																											<style>wxNO_BORDER</style>
																											<handler function="OnButtonPlotResetClick" entry="EVT_BUTTON" />
																										</object>
																										<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
																										<border>2</border>
																									</object>
																								</object>
																								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
																							</object>
																							<object class="spacer">
																								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																								<option>1</option>
																							</object>
																						</object>
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																					</object>
																					<object class="spacer">
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<option>1</option>
																						<size>-1,30</size>
																					</object>
																					<object class="sizeritem">
																						<object class="wxPanel" name="ID_PANEL_CHANNEL_LVLS" subclass="RimPanel" variable="PanelChannelLevels" member="yes">
																							<object class="wxBoxSizer" variable="BoxSizerChannelLevels" member="no">
																								<orient>wxVERTICAL</orient>
																								<object class="sizeritem">
																									<object class="wxStaticText" name="ID_STATICTEXT_CH_PK_LVL" variable="StaticTextChPkLvl" member="yes">
																										<label>peak:&#x0A;rms:</label>
																										<fg>#804040</fg>
																										<bg>#D2D2D2</bg>
																									</object>
																									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																									<border>5</border>
																								</object>
																							</object>
																						</object>
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<border>4</border>
																					</object>
																				</object>
																			</object>
																			<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																			<border>1</border>
																		</object>
																		<object class="sizeritem">
																			<object class="wxPanel" name="ID_PANEL_FFT_PLOT" subclass="RimPanel" variable="PanelFFTPlot" member="yes">
																				<object class="wxBoxSizer" variable="BoxSizerRTAPlot" member="no">
																					<orient>wxVERTICAL</orient>
																					<object class="spacer">
																						<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<size>500,1</size>
																					</object>
																					<object class="sizeritem">
																						<object class="Custom" name="ID_RTA_FFT_PLOT" subclass="mpWindow" variable="mRTAMagPLot" member="yes">
																							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
																							<include_file>Widgets\\wxMathPlot\\mathplot.h</include_file>
																							<local_include>1</local_include>
																							<style></style>
																						</object>
																						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																						<border>4</border>
																						<option>1</option>
																					</object>
																				</object>
																			</object>
																			<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																			<border>1</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
																	<border>1</border>
																	<option>1</option>
																</object>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
														<border>3</border>
														<option>7</option>
													</object>
												</object>
												<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<option>1</option>
											</object>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
									<option>4</option>
								</object>
							</object>
							<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>2</option>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER_AUDIO_MONITOR" variable="TimerAudioMonitor" member="yes">
			<interval>50</interval>
			<handler function="OnTimerAudioMonitorTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
