<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="NewProjectDialog">
		<title>Create new test project</title>
		<centered>1</centered>
		<bg>#C8C8C8</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION</style>
		<object class="wxBoxSizer" variable="BoxSizerMail" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_TITLE" subclass="RimPanel" variable="PanelTitle" member="yes">
					<object class="wxBoxSizer" variable="BoxSizerPanelTitle" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT_LBL_PJNAME" variable="StaticTextLblPjName" member="yes">
								<label> Project title:</label>
								<size>100,-1</size>
								<font>
									<size>10</size>
									<style>normal</style>
									<weight>bold</weight>
									<underlined>0</underlined>
									<family>swiss</family>
									<face>Arial Narrow</face>
								</font>
								<style>wxALIGN_CENTRE</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL_PJNAME" variable="TextCtrlPjName" member="yes">
								<size>200,22</size>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_PATH" subclass="RimPanel" variable="PanelPath" member="yes">
					<object class="wxBoxSizer" variable="BoxSizerPanelPath" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT_LBL_PJPATH" variable="StaticTextPJPath" member="yes">
								<label> Project path:</label>
								<size>100,-1</size>
								<font>
									<size>10</size>
									<style>normal</style>
									<weight>bold</weight>
									<underlined>0</underlined>
									<family>swiss</family>
									<face>Arial Narrow</face>
								</font>
								<style>wxALIGN_CENTRE</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL_PJPATH" variable="TextCtrlPJPath" member="yes">
								<size>200,22</size>
							</object>
							<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND</flag>
							<border>4</border>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON_PJPATH" subclass="GButton" variable="ButtonPJPath" member="yes">
								<label>..</label>
								<size>30,20</size>
								<handler function="OnButtonPJPathClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL</flag>
							<border>4</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_TYPE" subclass="RimPanel" variable="PanelType" member="yes">
					<object class="wxBoxSizer" variable="BoxSizerPanelType" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT_LBL_PJTYPE" variable="StaticTextLblPjType" member="yes">
								<label> Project type:</label>
								<size>100,-1</size>
								<font>
									<size>10</size>
									<style>normal</style>
									<weight>bold</weight>
									<underlined>0</underlined>
									<family>swiss</family>
									<face>Arial Narrow</face>
								</font>
								<style>wxALIGN_CENTRE</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_CHOICE_PJTYPE" variable="ChoicePJType" member="yes">
								<content>
									<item>                   Local</item>
									<item>                  Offline</item>
								</content>
								<selection>0</selection>
								<size>200,22</size>
								<font>
									<size>10</size>
									<style>normal</style>
									<weight>bold</weight>
									<underlined>0</underlined>
									<family>swiss</family>
									<face>Arial</face>
								</font>
								<handler function="OnChoicePJTypeSelect" entry="EVT_CHOICE" />
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_SRATE" subclass="RimPanel" variable="PanelSRate" member="yes">
					<object class="wxBoxSizer" variable="BoxSizerPanelSrate" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT_LBL_PJSRATE" variable="StaticTextLblPjSRate" member="yes">
								<label> Sample rate:</label>
								<size>100,-1</size>
								<font>
									<size>10</size>
									<style>normal</style>
									<weight>bold</weight>
									<underlined>0</underlined>
									<family>swiss</family>
									<face>Arial Narrow</face>
								</font>
								<style>wxALIGN_CENTRE</style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
						<object class="sizeritem">
							<object class="wxChoice" name="ID_CHOICE_PJSRATE" variable="ChoicePJSRate" member="yes">
								<content>
									<item>                   8000</item>
									<item>                   16000</item>
									<item>                   22050</item>
									<item>                   24000</item>
									<item>                   32000</item>
									<item>                   44100</item>
									<item>                   48000</item>
									<item>                   88200</item>
									<item>                   96000</item>
									<item>                   192000</item>
								</content>
								<selection>0</selection>
								<size>200,22</size>
								<font>
									<size>10</size>
									<style>normal</style>
									<weight>bold</weight>
									<underlined>0</underlined>
									<family>swiss</family>
									<face>Arial</face>
								</font>
								<handler function="OnChoicePJTypeSelect" entry="EVT_CHOICE" />
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_INFO" variable="PanelInfo" member="yes">
					<object class="wxBoxSizer" variable="BoxSizerPanelInfo" member="no">
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM_PANEL_INFO" subclass="PrjInfoEditPanel" variable="mPanelInfo" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
								<include_file>PrjInfoEditPanel.h</include_file>
								<local_include>1</local_include>
								<style></style>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_BOTTOM" subclass="RimPanel" variable="PanelBottom" member="yes">
					<object class="wxBoxSizer" variable="BoxSizerPanelBottom" member="no">
						<object class="spacer">
							<flag>wxALL|wxEXPAND</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON_PJOK" subclass="GButton" variable="ButtonPJOK" member="yes">
								<label>ok</label>
								<size>100,22</size>
								<handler function="OnButtonPJOKClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON_PJCANCEL" subclass="GButton" variable="ButtonPJCancel" member="yes">
								<label>cancel</label>
								<size>100,22</size>
								<handler function="OnButtonPJCancelClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>4</border>
						</object>
						<object class="spacer">
							<flag>wxALL|wxEXPAND</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
			</object>
		</object>
	</object>
</wxsmith>
